#!/bin/bash
# $Id: tinyheb.config,v 1.2 2008-06-21 10:05:28 thomas_baum Exp $

set -e

action=$1
version=$2

## SourceIn debconf-Library
. /usr/share/debconf/confmodule

# ask user which Webserver should be used for configuration
db_input high tinyheb/webserver || true
SELECTEDWebServerName="$RET"

# und jetzt noch die Daten fuer das mysql abfragen
STATE=1
while [ "$STATE" != 0 -a "$STATE" != 8 ]
do
    case $STATE in
        1)
            db_input medium tinyheb/mysql_server || true
            if db_go
            then
                db_get tinyheb/mysql_server || true
                if [ ! -z "$RET" ]
                then
                    STATE=2
                fi
            else
                $STATE=0
            fi
        ;;
        2)
            db_input low tinyheb/mysql_port || true
            if db_go
            then
                db_get tinyheb/mysql_port || true
                if [ ! -z "$RET" ]
                then 
                    STATE=3
                fi
            else
                STATE=1
            fi
        ;;
        3)
            db_input high tinyheb/mysql_root || true
            if db_go
            then
                db_get tinyheb/mysql_root || true
                if [ ! -z "$RET" ]
                then
                    STATE=4
                fi
            else
                STATE=2
            fi
        ;;
        4)
            db_input high tinyheb/mysql_password || true
            if db_go
            then
                db_get tinyheb/mysql_password || true
                STATE=5
            else
                STATE=3
            fi
        ;;
        5)
            db_input high tinyheb/confirm || true
            if db_go
            then
                db_get tinyheb/confirm || true
                confirm="$RET"
                db_get tinyheb/mysql_password || true
                if [ "x$RET" != "x$confirm" ]
                then
                    STATE=6
                else
                    STATE=7
                fi
            else
                STATE=4
            fi
        ;;
        6)
            db_input high tinyheb/mismatch || true
            db_go
            STATE=4
        ;;
        7)
            db_input high tinyheb/info || true
            db_go
            STATE=8
        ;;
    esac
done
if [ "$STATE" = 0 ]
then
    exit 1
fi

exit 0
