Source: tinyheb
Section: contrib/web
Priority: optional
Maintainer: Johannes Renkl <hummlbach@web.de>
Build-Depends: debhelper (>= 4.0.0), po-debconf
Standards-Version: 3.6.2
 
Package: tinyheb
Architecture: all
Depends: ${shlibs:Depends}, gs | ghostscript, perl, openssl, libdbi-perl, libdbd-mysql-perl, libdate-calc-perl, libemail-mime-encodings-perl, perl-tk, libmail-sender-perl (>=0.8.22), libpostscript-simple-perl (>=0.07), mysql-server, apache2 | httpd, libcompress-zlib-perl, libmozilla-ca-perl
Recommends: apache2, ntp
Description: Billingsoftware for German midwives
 tinyHeb is a Web application for midwives in Germany to do the legal 
 accounting with the health insurance companies. tinyHeb can produce 
 paper and electronic bills, and meets the legal requirements 
 of 301a, 302 SGB V, resp. tinyHeb is already certified by AOK Rheinland, 
 AOK Bayern, and ARZ Emmendingen, which means that the midwife is allowed to 
 send electronic billings to all AOK and the most BKK's in Germany after a 
 very short testing (three bills). Paper bills can be sent for insurance 
 companies that are not supported.
